@italic-font: "Playfair Display", serif;
@blog-bg: #e9e6e4;

.bodyBackground {
  background-color: @blog-bg;
}

.container {
  background-color: @blog-bg;
  width: 100vw;
  height: 100vh;
}

.description {
  &__body {
    width: 51%;
    margin: 2rem 0 0 1rem;
    font-size: 1.4rem;
  }
}

h2 {
  text-align: center;
  padding-top: 1rem;
  font-family: @italic-font;
}

h4 {
  font-family: @italic-font;
  margin: 4rem 0 0 1.4rem;
}

h5 {
  font-size: 1.4rem;
  padding-top: 2rem;
  margin-left: 1rem;
  width: 40%;
}

.textBox {
  width: 40%;
  margin-top: 0.5rem;
}

textarea {
  margin-left: 1rem;
}

button {
  margin: 1rem 0 0 29rem;
  width: 8rem;
}
